<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" 
	  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<!--<variable name="admin" value="alicoder"></variable>-->
	 
	<targets async="true">
		<!--<target name="logfile" xsi:type="File" fileName="${basedir}/logs/log-${shortdate}.txt" />-->

		<!--<target name="logfile" xsi:type="File" fileName="${basedir}/logs/log-${####}.txt"
				maxArchiveFiles="10"
				archiveAboveSize="10240"
				layout="${message} - ${callsite} - ${callsite-linenumber} - ${callsite-filename} - ${level}
				${newline}
				${var:admin} - ${date} - ${ticks} - ${time}
				${newline}
				${var:admin:uppercase=true}
				"
				/>-->

		<target name="logconsole" xsi:type="coloredconsole"></target>
	</targets>

	<rules>
		<!--<logger name="*" minlevel="debug" writeTo="logfile" />-->

		<!--<logger name="*" writeTo="logconsole"></logger>-->
		
		<logger name="*" minlevel="Info" writeTo="logconsole"></logger>
		<!--<logger name="*" level="Debug" writeTo="logconsole"></logger>
		<logger name="*" levels="Trace,Debug" writeTo="logconsole"></logger>-->
	</rules>
</nlog>